name: Build CleanTPA

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - run: mvn clean package
      - uses: actions/upload-artifact@v4
        with:
          name: CleanTPA
          path: target/CleanTPA-1.0.jar
